@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+BE+VLG:wght@100..400&family=Work+Sans:wght@100..900&display=swap');

/* font-family: "Playwrite BE VLG", cursive; */

*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    color: white;
}
a{text-decoration: none;}

.display{
    display: flex;
}



header{
    background-image: linear-gradient(#00000070, #fdfdfd24, #0000005e);
    background-color: black;
}

nav{
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    align-items: center;
    padding-top: 50px;
}

.menubar{
   display: none;
}
nav h1{
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    color: #E6533C;
}

.navigation-menu{
    width: 530px;
    height: 50px;
    border: 1px solid rgb(255 255 255 / 11%);
    border-radius: 39px;
    font-weight: 500;
}

.navigation-menu ul{
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px 3px 3px;
}

.home-menu{
    background-color: #E6533C;
    width: 100px;
    height: 34px;
    border-radius: 46px;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
}

.intro{
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
}

.intro-info{
    max-width: 520px;
    margin-top: 100px;
}
.intro-info h1{
    
border-collapse: separate;
    
font-size: 78px;
    
margin-bottom: 50px;
    
line-height: 80px;
}
.intro-info span{
    font-family: "Playwrite BE VLG", cursive;
    font-weight: 100;
    font-size: 5.6rem;
}

.club{
    max-width: 225px;
    height: 51px;
    border-radius: 42px;
    background-color: #E6533C;
    border: none;
    font-size: 1.3rem;
    padding: 0px 30px;
    font-weight: 500;
    margin-top: 25px;
    margin-right: 35px;
}
.Download{
    max-width: 225px;
    height: 54px;
    border-radius: 42px;
    font-size: 1.3rem;
    padding: 0px 30px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #ffffff87;
}


.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}

.number{
    display: block;
    font-size: 3rem;
    font-weight: 900;

}

.discription{
    color: rgba(239, 237, 232, 0.65);


}



.secpart-two{
   position: relative;
}

.video{
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 515px;
    left: -113px;
    padding: 10px;
}


.same{
    background-color: rgba(48, 48, 48, 0.747);
    width: 193px;
    height: 98px;
    border-radius: 12px;

}

.workout{
    position: absolute;
    top: 286px;
    right: -80px;
    text-align: center;
    padding: 10px;
}

.imgworkout{
    margin-top: 117px;
}

 /* Start new section which is about change your habit  */

 main{
    background-color: black;
    /* padding-bottom: 100px; */
 }
 .habits{
    max-width: 1440px;
    margin: auto;
    padding-top: 100px;
 }

 .section-tittle{
    max-width: 671px;
    margin: auto;
 }
 .section-tittle h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;

 }

 .section-tittle p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
 }

 .habit-items h3{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
 }
 .habit-items img{
    border-radius: 50%;
    margin-left: 25px;
    border: 5px solid rgba(128, 128, 128, 0.178);
    
    
 }
 .habit-items div{
    width: 231px;
    height: 274px;
 }
 .habit-items{
    justify-content: space-around;
    margin-top: 70px;
 }
 .habit-items p{
    font-size: 1rem;
    font-weight: 300;
    color:rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 10px;
 }
 .extra-run{
    max-width: 1200px;
    /* height: 400px; */
    border-radius: 20px;
    background-color: rgba(34, 34, 34, 1);
    justify-content: space-between;
    margin: auto;
    padding: 50px 0px;
    margin-top: 100px;
 }

 .run-img{
    width: 345px;
    height: 290px;
    border-radius: 18px;
    overflow: hidden;
    margin-right: 50px;
 }

 .run-img img{
    width: 100%;
    height: 100%;
 }

 .run-extra{
    max-width: 450px;
    margin-left: 60px;
 }
 .run-extra h2{
    font-size: 3.3rem;
    font-weight: 900;
 }

 .run-extra p{
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
 }

 .run-extra button{
    width: 225px;
    height: 55px;
    border-radius: 42px;
    background-color: #E6533C;
    padding: 0px 70px;
    font-size: 1.05rem;
    font-weight: 500;
    margin-top: 30px;
    border: none;
 }


/* new section star from here */








 .trainingsex{
    max-width: 1440px;
    margin: auto;
    padding-bottom: 90px;
 }

 .traingtime{
   max-width: 672px;
   margin-top: 100px;
 }
.traingtime h1{
   font-size: 2.9rem;
   font-weight: 900;


}


.traingtime p{
   color: rgba(255, 255, 255, 0.5);
   font-weight: 300;
   margin-top: 20px;
   margin-left: 0px;
}


.filter-section{
   margin-top: 70px;
}

.tempalte-phone{
   display: none;
}
.picture-template1{
   display: grid;
   grid-template-columns: 1fr 2.5fr 1.5fr;
   
}

.picture-template1 div{
   position:relative;
   height: 230px;
}

.picture-template1 p{
   position:absolute;
   font-weight: 500;
   z-index: 2;
}

   

.picture-template1 img{
   width: 100%;
  height: 100%;
  
}

.picture-one p{
   left: 25px;
   top: 176px;
   color: black;
}

.picture-two p{
   top: 25px;
   left: 25px;
}

.picture-three p{
   top: 155px;
   left: 48px;
}

.filter1,
 .filter2,
  .filter3{
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 1;
   bottom: 234px;
}


.filter1{background-color: rgb(6 255 210 / 32%);}
.filter2{background-color: rgba(255, 0, 0, 0.3);}
.filter3{background-color: rgba(0, 0, 0, 0.5);}




.picture-template2{
   display: grid;
   grid-template-columns: 2fr 1.3fr 1.7fr;
}

.picture-template2 div{
   position:relative;
   height: 230px;
}

.picture-template2 img{
   width: 100%;
  height: 100%;
  
}
.picture-template2 p{
   position:absolute;
   font-weight: 500;
   z-index: 2;
}

.picture-oneone p{
   top: 25px;
  
   right: 30px;
}

.picture-twotwo p{
  
   top: 156px;
   left: 30px;
}

.picture-threethree p{
  
   top: 0px;
   left: 55px;
   top: 161px;
}



.filter11,
 .filter22,
  .filter33{
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 1;
   bottom: 234px;
}


.filter11{background-color: rgba(0, 0, 0, 0.5);}
.filter22{background-color: rgba(66, 255, 0, 0.3);}
.filter33{background-color: rgba(0, 71, 255, 0.3);}



.bmi-tittle{
   max-width: 680px;
   margin: auto;
   margin-top: 100px;
}

.bmi-tittle h1{
   font-size:2.8rem;
   font-weight: 900;
}

.bmi-tittle p{
   font-size: 0.9rem;
   font-weight: 300;
   color: rgba(255, 255, 255, 0.5);
   margin-top: 15px;
}
/* design new section which is about BMI */



.technical-section{
   background-color: rgba(34, 34, 34, 1);
}


.bmi-calculator{
   max-width: 1440px;
   margin: auto;
   justify-content: space-between;
}


















.input-boxs{
   display: grid;
   grid-template-areas:
      "one one two two"
      "three three four four"
      "five five five five";
   gap: 10px;
   max-width: 600px;
   margin-top: 30px;
}

.input-boxs input{
   
   height: 50px;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 10px;
   padding: 0px 15px;
   border: none;
   /* position: relative; */

}
.fromfill{
   position: relative;
}
.icon i:first-child{
   position: absolute;
   top: 261px;
   left: 560px;
   color: #ffffff7a;
}



.icon i:nth-child(2){
   position: absolute;
   top: 320px;
   left: 560px;
   color: #ffffff7a;
}
.height{
   grid-area: one;
}
.age{
   grid-area:three;
}
.weight{
   grid-area:two;
}
.sex{
   grid-area:four;
}
.selection{
   grid-area:five;
   
}


table{
  border-collapse: collapse;
  margin-top: 50px;
}

td, th{
   border: 2px solid #ffffff26;
   padding: 13px 40px;
   text-align: center;
}



.size-chart{
   margin: 100px;
}



.fromfill h1{
   margin-top: 80px;
   font-size: 2.2rem;


}


.fromfill p{
   color:   rgba(255, 255, 255, 0.5);
   font-size: 0.9rem;
   margin-top: 10px;
   

   
}

.calculate-buton{
   width: 210px;
   height: 55px;
   border-radius: 45px;
   background-color: rgba(230, 83, 60, 1);
   border: none;
   margin-top: 20px;
   font-size: 1.3rem;
   font-weight: 600;
}


/* Herer we start making meeting section */
/* which is about trainer-info */




.meet-ourteam{
   max-width: 1440px;
   margin: auto;
   margin-top: 100px;
   padding-bottom: 100px;
}

.meet-ourteam h1{
   font-size: 3.8rem;
   text-align: center;
}

.meet-ourteam p{
   text-align: center;
   color:   rgba(255, 255, 255, 0.5);
   max-width: 900px;
   margin: auto;
   margin-top: 20px;
   word-spacing: 8px;
   font-size: 1.2rem;
}



.trainer-info{
   
display: grid;
   
grid-template-columns: 1fr 1fr 1fr;
   
grid-template-rows: 1fr 1fr;
   
justify-content: center;
   
align-items: center;
   
gap: 25px;
   
max-width: 1330px;
   
margin: auto;
   
background-color: rgba(255, 255, 255, 0.1);
   
padding: 28px;
   
border-radius: 20px;
   
margin-top: 85px;
}



.trainer-tempalte{
   position: relative;
   width: 425px;
   height: 346px;
   border-radius: 20px;
   margin: auto;
}

.trainer-tempalte img{
   width: 100%;
   height: 100%;
   border-radius: 20px;
   filter: brightness(0.8);
}

.trainer-tempalte div{
   position: absolute;
   top: 260px;
   left: 20px;
}

.trainer-tempalte h4{
   font-size: 1.6rem;
}

.trainer-tempalte p{
   font-size: 1.1rem;
   text-align: left;
   margin-top: 3px;
}



/* Starting a new section which is called footer */

footer{
   background-color: rgba(34, 34, 34, 1);;
  
}

.footer-section{
   max-width: 1440px;
   margin: auto;
   justify-content: space-around;
   padding-top: 80px;
}


.footer-one{
   width: 392px;
}

.footer-one h1{
   font-size: 5rem;
   font-weight: 900;
   font-style: italic;
   color: #E6533C;
}

.footer-one p{
   font-size: 0.8rem;
   color: rgba(255, 255, 255, 0.5);
   font-weight: 300;
   margin-top: 15px;
}



.footer-part h3{
   font-size: 2.1rem;
   font-weight: 800;


}

.footer-part ul{
   list-style: none;
   margin-top: 10px;
   
   
}

.footer-part li{
   color: rgba(255, 255, 255, 0.61);
   margin: 20px;
   font-size: 1.2rem;
}


footer span{
   text-align:center;
   max-width: 300px;
   display: block;
   margin: auto;
   margin-top: 30px;
   padding-bottom: 30px;
   color: #ffffff78;
}

footer hr {
    max-width: 1250px;
    margin: auto;
    opacity: 18%;
    margin-top: 20px;
}


/* this is learn section  */


.leanr-section{
   max-width: 1440px;
   margin: auto;
   padding: 100px 0px;
}

.leanr-section h1{
   font-size: 4rem;
   text-align: center;
}

.leanr-section li{
   list-style: none;
   font-size: 1.8rem;
}

.leanr-section ul{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 75px 45px;
   background-color: rgba(255, 255, 255, 0.082);
   border-radius: 20px;
   min-height: 400px;
   align-items: center;
   padding: 67px;
   margin-top: 40px;
   box-shadow: 0px 0px 9px 0px #ffffff4d;
}

.leanr-section button{
   grid-row:3/3;
   grid-column: 2/2;
   height: 70px;
   background-color: #E6533C;
   border-radius: 18px;
   width:350px;
   font-size: 1.3rem;
   font-weight: 700;
   margin: auto;
}


/* Here we starting small devices resposive design */



@media screen and (max-width: 576px) {
   

   .navigation-menu{
      display: none;
   }     

.menubar{
   display: block;
   margin-right: 38px;
   font-size: 1.7rem;
}
nav h1{
   font-weight: 700;
   margin-left: 15px;
}

.intro{
   flex-direction: column;
}

.secpart-two{
   justify-content: center;
}
.imgworkout{
   margin-left: 0px;
}



.same{
   width: 127px;
   height: 62px;
   font-size: 0.8rem;
}

.same span:first-child{
   font-size: 2rem;
}

.video{

left: 41px;

top: 346px;

gap: 8px;
}


.workout{

right: 22px;

top: 144px;
}


.circle{
   width: 50%;
   height: 50%;
}

.intro-info h1{
   font-size: 2.5rem;
   line-height: 50px;
   margin-left: 15px;
   width: 253px;
   margin-bottom: 30px;
}

.intro-info span{
   font-size: 2.6rem;
}

.club{
   padding: 0px 20px;
   font-size: 1.1rem;
   margin-right: 15px;
   margin-left: 35px;
   margin-top: 45px;
}

.Download{
   padding: 0px 20px;
   font-size: 1.1rem;
}


.intro-info p{
   max-width: 350px;
   margin-left:15px;
}

.section-tittle h1{
   font-size: 2.2rem;
}

.section-tittle p{
   max-width: 380px;
   margin: auto;
   margin-top: 10px;
}

.habit-items{
   flex-direction: column;
   align-items: center;
}

.habit-items div{
   margin-top: 65px;
   width: 380px;
}


.extra-run{
   flex-direction: column;
   align-items: center;
   margin: 50px 20px;
}

.run-img{
   margin: 0px;
   margin-top: 45px;
}


.run-extra{
   max-width: 300px;
   margin: auto;
}

.run-extra h2{
   font-size: 2.5rem;
}

.run-extra button{width: 100%;background-color: rebeccapurple;}


.traingtime{
   margin-left: 15px;
   max-width: 352px;
}


.traingtime h1{
   font-size: 2.5rem;
}

.template-desktop{
   display: none;
}


.tempalte-phone{
   display: block;
}



.tempalte-phone img{
   width: 100%;
   height: 100%;
}

.phone-temp1{
   display: grid;
   grid-template-columns: 1.2fr 0.8fr;
   max-width: 400px;
   margin: auto;
}

.phone-temp1 div{height: 175px;position: relative;}

.phone-temp2{
   display: grid;
   grid-template-columns: 0.8fr 1.2fr;
   max-width: 400px;
   margin: auto;
}


.phone-temp2 div{height: 175px;position: relative;}





.filter10,
 .filter20{
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 1;
   bottom: 0px;
}


.filter10{background-color: rgb(6 255 210 / 32%);}
.filter20{background-color: rgba(255, 0, 0, 0.3);}






.filter110,
 .filter220{
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 1;
   bottom: 0px;
}


.filter110{background-color: rgba(0, 0, 0, 0.5);}
.filter220{background-color: rgba(66, 255, 0, 0.3);}




.phone-temp1 p{
   position:absolute;
   font-weight: 500;
   z-index: 3;
}



.phone-temp2 p{
   position:absolute;
   font-weight: 500;
   z-index: 2;
}


.picture-one1 p{

   top: 135px;
   left: 10px;

}

.picture-two1 p{
   top: 135px;
   left: 10px;

   
}
.picture-oneone1 p{
   top: 135px;
   left: 10px;

   
}
.picture-twotwo1 p{

   top: 135px;
   left: 10px;

   
}



.bmi-tittle{
   margin-left: 15px;
}



.bmi-calculator{
   flex-direction: column;
}



.size-chart{
   margin: 0px;
}



table{
   margin: auto;
   margin-top: 35px;
}

td, th{
   padding: 13px 30px;
}



.size-chart h1{
   margin-left: 25px;
   margin-top: 50px;
}




.input-boxs input{
   max-width: 145px;
}


.input-boxs{
   max-width: 350px;
   margin: auto;
   gap: 10px;
   margin-top: 20px;
}

.input-boxs input:nth-child(5){
   min-width: 340px;
}

.fromfill{
   width: 380px;
}
.fromfill h1{
   font-size: 1.5rem;
}
.fromfill h1,p{
   margin-left: 23px;
   max-width: 350px;
}



.calculate-buton{
   
   margin: 30px 0px;
   margin-left: 25px;
   
}





.icon i:first-child{
   
top: 330px;
   
left: 340px;
}



.icon i:nth-child(2){
   top: 271px;
   left: 340px;
}




.meet-ourteam h1{
   font-size: 2.5rem;
   margin: auto;
}


.trainer-info{
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
}


.trainer-tempalte{
   width: 360px;
   height: 320px;
}

.trainer-tempalte div{
   top: 240px;
}

.leanr-section{
   
width: 380px;
}
.leanr-section ul{
   display: block;
   padding: 0px 25px;
   padding-top: 5px;
}


.leanr-section li{
   margin-top: 57px;
}

.leanr-section button{
    margin: 57px 0px;
    width: 300px;
    margin-left: 15px;
}

.leanr-section h1{
   font-size: 2.2rem;
}



.footer-section{
   flex-direction: column;
   margin-left: 30px;
}



.footer-one h1{
   font-size: 3rem;
}

.footer-one p{
   margin-left: 0px;
}

.footer-two{
   margin-top: 30px;
}

.footer-three{
   margin-top: 20px;
}


.habit-items p{
   
margin: auto;
   
width: 370px;
   
margin-top: 15px;
}


.habit-items img{
    margin-left: 98px;
}


footer{
   overflow: hidden;
}


}